.bg-head{
  
}
.create-form-header-div{
    display: flex;
    justify-content:space-between;
   padding: .8rem;
}
.header-icons-form{
    display: flex;
    gap: 1rem;
  
}
.form-icons-left{
    display: flex;
    margin-top:1.2rem;
    gap: 1rem;
}
.form-icons-right{
    display: flex;
    gap: 2rem;
    margin-top:1.2rem;
margin-right: 5rem;
}
.send-btn{
    background-color: #7248B9;
    width: 6rem;
    border-radius: .2rem;
    border: none;
    color: aliceblue;

}
.form-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.response-lnk{
    text-decoration: none;
    color: black;
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-format{
    display: flex;
     margin-top: 3rem;
    width: 40rem;
    padding: 1rem;
background-color: white;
box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
border-top: 10px solid #673AB7;
border-left:5px solid #673AB7 ;
border-radius:13px;

}
.text-editor{
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
} 
.untilted-head{
    display: flex;
    flex-direction: column;
    width:45rem;
    gap: 1rem;
} 
/* .untitled-input{
    border: none;
    border-bottom: 1px solid #5F6368;
    font-size: 1.5rem;
    color:black;
}
.description-input{
    border: none;
    border-bottom: 1px solid #5F6368; 
    font-size: 1  rem;
} */

