body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}
@font-face {
font-family: Euclid;
src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
font-family: EuclidBold;
src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}

@font-face {
font-family: EuclidLight;
src: url(../fonts/Euclid\ Circular\ A\ Light.ttf);
}
@font-face {
font-family: EuclidMedium;
src: url(../fonts/Euclid\ Circular\ A\ Medium.ttf);
}
@font-face {
font-family: EuclidSemiBold;
src: url(../fonts/Euclid\ Circular\ A\ SemiBold.ttf);
}
